@{
    Layout = "Admin/_Layout";
    ViewData["Title"] = "Elenco Fotografie";
}
@model List<Photo>
<div class="container">
    <a id="upload" asp-action="Create" asp-controller="Photo"><i class="fa-solid fa-upload"></i></a>
    <h1 class="fw-bold fs-1 text-center">
        Fotografie
    </h1>
    <div class="my-3 w-50 mx-auto">
        <select class="form-select">
            <option value="" selected disabled>Selezionare una categoria per filtrare</option>
        </select>
    </div>
    @if(Model.Count > 0)
    {
        <ul class="list-unstyled row row-cols-1 row-cols-xxl-3 gy-4">
            @foreach(Photo photo in Model)
            {
                <li>
                    <div class="myCard">
                        <img src="data:image/png;base64,@(Convert.ToBase64String(photo.Image))" alt="immagine di prova" class="img-card" />
                        <div class="id">@photo.Id</div>
                        <div class="title">@photo.Title</div>
                        <ul class="list-unstyled action d-flex flex-column align-items-center justify-content-center gap-3">
                            <li>
                                <a class="btn-action info" asp-action="Detail" asp-controller="Photo" asp-route-id="@photo.Id"><i class="fa-solid fa-info"></i></a>
                            </li>
                            <li>
                                <a class="btn-action edit" asp-action="Edit" asp-controller="Photo" asp-route-id="@photo.Id"><i class="fa-solid fa-pen"></i></a>
                            </li>
                            <li>
                                <button type="button" class="btn-action delete" data-bs-toggle="modal" data-bs-target="#delete-@(photo.Id)"><i class="fa-solid fa-trash"></i></button>

                            </li>
                        </ul>
                    </div>
                </li>

                <div class="modal fade" id="delete-@(photo.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Conferma Eliminazione</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Conferma di voler cancellare la foto n @photo.Id : @photo.Title?
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete" asp-controller="Photo" asp-route-id="@photo.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                    <button type="submit" class="btn btn-danger">Cancella</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </ul>
    }
    else
    {
        <div class="alert alert-danger">Nessuna foto presente, cliccare il pulsante carica per aggiungerene una</div>
    }

</div>